.advantages {
	text-align: center;
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: @gray;
	background-image: url("../img/bg-triangle-white.svg");
	background-repeat: no-repeat;
	background-position: 92% 30%;
}

.advantages__container {
	background-color: @white;
	margin-left: -20px;
	margin-right: -20px;
	padding: 40px 40px;
}

.advantages__text {
	margin-top: 45px;
	margin-bottom: 45px;
	font-size: 24px;
	line-height: auto;
	font-weight: 300;
}

.advantages__list {
	.list;
	text-align: center;
}

.advantages__title {
	margin-bottom: 25px;
	font-weight: 700;
	color: @black;
}

.advantages__description {
	margin-bottom: 40px;
}

