.advantages {
	text-align: center;
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: @gray;
	background-image: url("../img/bg-triangle-white.svg");
	background-repeat: no-repeat;
	background-position: 92% 30%;
}

.advantages__container {
	background-color: @white;
	margin-left: -20px;
	margin-right: -20px;
	padding: 40px 40px;
}

.advantages__text {
	margin-top: 45px;
	margin-bottom: 45px;
	font-size: 24px;
	line-height: auto;
	font-weight: 300;
}

.advantages__list {
	.list;
	text-align: center;
}

.advantages__title {
	margin-bottom: 25px;
	font-weight: 700;
	color: @black;
}

.advantages__description {
	margin-bottom: 40px;
}

.advantages__image {
  display: block;
  margin: 0 auto;
}


@media (min-width: @tablet-width) {
  .advantages {
    width: 620px;
  }

  .advantages__container {
    font-size: 40px;
    line-height: 48px;
  }

  .advantages__text {
    margin: 0;
  }
  .advantages__image {
    display: none;
  }

  .advantages__text:last-child {
    padding: 0 135px;
  }

  .advantages__list {
    width: 310px;
    text-align: left;
  }

  .advantagers__list-container {
    .flex;
    justify-content: flex-end;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat 0% 50%;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 960px;
    padding: 0 120px;
  }

  .advantages__container {
    margin: 0 -120px;
    font-size: 50px;
  }

  .advantagers__list-container {
    display: block;
  }

  .advantages__text:last-child {
    padding: 0 427px;
  }

  .advantages__list {
    .flex;
    flex-direction: row;
    width: 940px;
  }

  .advantagers__list-container {
    background: none;
  }
}
