.filters {
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: @white;
	font-size: 18px;
	line-height: 30px;
}

.filters__text {
	margin: 0;
	color: @red;
	line-height: 18px;
}

.filters__label {
	display: block;
	margin-bottom: 15px;
	margin-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.filters__input {
	padding: 20px 20px;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 25px;
	width: 320px;
	box-sizing: border-box;
}

.filters__user-data {
	padding-top: 40px;
	padding-bottom: 40px;
}

.filters__achievement {
	margin: 0;
	padding: 0;
	padding: 40px 0;
	border: none;
	margin: 0 -20px;
	background-color: @gray;
}

.filters__app {
	margin: 0 -20px;
	border: none;
	background-color: @gray;
}

.filters__list {
	margin: 0;
	paddimg: 0;
	margin-left: 20px;
}

.filters__legend {
	text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.filters__item {
	margin-bottom: 45px;
}

.filters__emotions {
	padding-top: 40px;
	padding-bottom: 40px;
}

.filters__textarea {
	padding: 20px 20px;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 25px;
	width: 320px;
	min-height: 200px;
	box-sizing: border-box;
}

.filters__footnote {
	margin: 0;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}

.filter__sup {
	color: @red;
}

@media (min-width: @tablet-width) {
  .filters {
    width: 620px;
    padding: 0 20px;
  }

  .filters__label {
    display: inline-block;
    font-size: 14px;
  }

  .filters__input {
    width: 495px;
  }
  .filters__input--long {
    width: 530px;
  }
  .filters__form {
    .flex;
  }
  .filters__app {
    border: 2px solid @gray;
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .filters {
    margin: 0 auto;
    width: 940px;
    padding: 0 130px;
  }
}
