.form-main {
  background-color: @white;
}

.form-main__wrapper {
  width: 360px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

}

.form-main__title {
	margin: 0;
	padding: 0 68px;
	padding-top: 35px;
	padding-bottom: 50px;
	text-align: center;
	color: @white;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	background-color: @gray;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: 99% 28%;
	background-size: cover;
}

.form-main__container {
	padding-top: 55px;
	padding-bottom: 50px;
	background-color: @white;
  text-align: center;
}

.form-main__text {
	margin: 0;
	line-height: 30px;
}

@media (min-width: @tablet-width) {
  .form-main__wrapper {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .form-main__wrapper {
    width: 1200px;
    padding: 0 120px;
  }
  .form-main__text {
    width: 611px;
    margin: 0 auto;
  }
  .form-main__title {
    font-size: 50px;
    line-height: 70px;
    padding: 0 ;
  }
}
