.main-nav__wrapper {
	text-align: center;
}

.main-nav__list {
	.list;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}


@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 960px;
    flex-direction: row;
  }

  .main-nav__list {
    .flex;
  }
}
