.map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 375px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1200px;
    background-image: url("../img/bg-map-desktop@1x.png");
    min-height: 500px;
  }
}
