.page-footer {
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: @white;
}

.page-footer--none {
    display: none;
  }

.page-footer__copyright {
	font-size: 14px;
	line-height: 18px;
}

.page-footer__logo-image {
  display: inline-block;
  width: 160px;
  width: 60px;
  &:hover,
  &:focus path {
    fill: @red;
    }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 620px;
  }
    &--none {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
    padding: 0 120px;
  }
}
