.page-header {
  display: flex;
  flex-direction: column;
	width: 360px;
	margin: 0 auto;
	background-color: @dark-blue;
}

.page-header__logo {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @black;
}

.main-nav__toggle {
	margin-right: auto;
}

.page-header__logo-image {
  position: absolute;
  top: 177px;
  left: 0;
  display: block;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 660px;
  }

}

@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    width: 1200px;
  }
}
