.page-header {
	background-color: @dark-blue;
}

.page-header__wrapper {
  width: 360px;
  margin: 0 auto;
}

.page-header__logo {
  display: inline-block;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @black;
}


@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    display: flex;
    align-items: center;
    width: 940px;
  }
  .page-header__logo {
    margin-right: 140px;
  }

  .page-header {
    position: absolute;
    top: 0px;
    left: 173px;
    z-index: 5;
    background-color: transparent;
  }

  .page-header__container {
    position: relative;
    background-color: @menu-back;
  }
}
