.photo-main {
    background-color: @dark-blue;
}

.photo-main__title-wrapper {
  width: 360px;
  margin: 0 auto;

}

.photo-main__title {
  display: block;
	margin: 0;
	padding: 0 20px;
	padding-top: 35px;
	padding-bottom: 50px;
	text-align: center;
	color: @white;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	background-color: @gray;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: 99% 28%;
	background-size: cover;
}

@media (min-width: @tablet-width) {
  .photo-main__title-wrapper{
    width: 660px;
  }

  .photo-main__title {
    font-size: 50px;
    line-height: 60px;
    padding-top: 80px;
    padding-bottom: 140px;
  }
}

@media (min-width: @desktop-width) {
  .photo-main__title-wrapper {
    width: 1200px;
    min-height: 280px;
  }

  .photo-main__title {
    font-size: 50px;
    line-height: 60px;
    padding-top: 80px;
    padding-bottom: 140px;
  }
}
