.photo-editor {
	width: 360px;
	margin: 0 auto;
	background-color: @gray;
	text-align: center;
}

.photo-editor_buttons {
	padding: 40px 0;
}

.photo-editor__input:nth-child(2) {
  display: none;
}

.photo-editor__input:nth-child(3) {
  display: none;
}

@media (min-width: @tablet-width) {
  .photo-editor {
    width: 660px;
  }
  .photo-editor__form {
    .flex;
  }

  .photo-editor__input:nth-child(2) {
    display: block;
  }

  .photo-editor__input:nth-child(3) {
    display: block;
  }
  .photo-editor__icons-sliders-container {
    .flex;
  }
  .photo-editor__icons-container {
    .flex;
    flex-direction: column;
    padding: 20px;
  }
  .photo-editor__content-wrapper {
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .photo-editor {
    margin: 0 auto;
    width: 1200px;
  }
  .photo-editor__buttons {
    .flex;
  }
}

