.rates {
	background-color: @gray;
	text-align: center;
}

.rates__wrapper {
  width: 360px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.rates__table {
	text-align: center;
	width: 100%;
}

.rates__value {
	margin-top: 20px;
  width: 150px;
	margin-bottom: 13px;
  padding: 15px 0px;
	background-color: @dark-blue;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
  color: @white;
  text-transform: uppercase;
}

.rates__price {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

.rates__field {
	line-height: 30px;
}

.rates__toggles {
	margin: 0;
	padding-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .rates__wrapper {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .rates__wrapper {
    width: 1200px;
    padding: 0 120px;
  }
}
