.reviews {
	text-align: center;
}

.reviews__wrapper {
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: @white;
}

.reviews__list {
	.list;
	padding-top: 45px;
}

.reviews__title {
	margin: 0;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.reviews-description {
	line-height: 30px;
	margin-bottom: 40px;	
}

.reviews__prev {
	font-size: 0;
}

.reviews__next {
	font-size: 0;
}

.reviews__toggles {
	margin: 0;
	padding-bottom: 40px;	
}

.reviews__item:nth-child(2) {
	display: none;
}

.reviews__item:nth-child(3) {
	display: none;
}