.site-list {
	.list
}

.site-list__link {
	.link;
	color: @white;
	font-size: 18px;
	line-height: 32px;
	font-weight: 700;
	padding: 25px 70px;
	text-transform: uppercase;
	cursor: pointer;
}

.site-list__item {
	border-top: 1px solid @border;
}