.user-photos {
	width: 320px;
	padding: 0 20px;
	margin: 0 auto;
	background-color: @white;
}

.user-photos__text {
	margin: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.user-photos__list {
	.list;
}

@media (min-width: @tablet-width) {
  .user-photos {
    width: 620px;
    padding: 0 20px;
  }
  .user-list__first-item-container {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .user-photos  {
    width: 960px;
    padding: 0 120px;
  }
}
