
.user-list {

}


.user-list__item {
	background-color: @gray;
	margin-bottom: 20px;
}

.user-list__author-name {
	font-weight: 700;
}

.user-list__author-time {
	margin-left: 5px;
	font-size: 12px;
	line-height: 24px;
  	font-weight: 300;
  	text-transform: uppercase;
}

.user-list__text {
	margin-bottom: 20px;
}

.user-list__likes {
	font-size: 12px;
	text-transform: uppercase;
	color: @red;
}

.user-list__likes-counter {
	font-size: 12px;
	text-transform: uppercase;
	color: @red;
}

.user-list__author-image {
	background-size: cover;
}

@media (min-width: @tablet-width) {
  .user-list {
    width: 620px;
    padding: 0 20px;
  }
  .user-list {
    .flex;
  }
  .user-list__item {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    width: 960px;
    padding: 0 120px;
  }
}
