/*background-colors*/
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  display: inline-block;
  text-align: center;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  background-color: #282828;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  heigth: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    width: 640px;
    padding: 0 64px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
    padding: 0 120px;
  }
}
.promo {
  position: relative;
  width: 360px;
  margin: 0 auto;
  background-color: #283645;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 168px, 46% 58%;
  background-size: 74%, cover;
  min-height: 462px;
  border-top: 1px solid #000000;
}
.promo__title {
  margin: 0;
  padding: 0 40px;
  padding-top: 95px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  display: none;
}
@media (min-width: 768px) {
  .promo__title {
    display: block;
    width: 300px;
    margin-top: 120px;
  }
  .promo {
    display: relative;
    width: 660px;
    min-height: 729px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 11px 215px, 46% 58%;
    background-size: 100%, cover;
  }
}
@media (min-width: 1200px) {
  .promo {
    min-height: 853px;
    width: 1200px;
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: 103px 115px, 46% 58%;
  }
  .promo__title {
    font-size: 50px;
    margin-top: 161px;
    margin-right: 30px;
  }
}
.advantages {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 92% 30%;
}
.advantages__container {
  background-color: #ffffff;
  margin-left: -20px;
  margin-right: -20px;
  padding: 40px 40px;
}
.advantages__text {
  margin-top: 45px;
  margin-bottom: 45px;
  font-size: 24px;
  line-height: auto;
  font-weight: 300;
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.advantages__title {
  margin-bottom: 25px;
  font-weight: 700;
  color: #000000;
}
.advantages__description {
  margin-bottom: 40px;
}
.advantages__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages {
    width: 620px;
  }
  .advantages__container {
    font-size: 40px;
    line-height: 48px;
  }
  .advantages__text {
    margin: 0;
  }
  .advantages__image {
    display: none;
  }
  .advantages__text:last-child {
    padding: 0 135px;
  }
  .advantages__list {
    width: 310px;
    text-align: left;
  }
  .advantagers__list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat 0% 50%;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: 960px;
    padding: 0 120px;
  }
  .advantages__container {
    margin: 0 -120px;
    font-size: 50px;
  }
  .advantagers__list-container {
    display: block;
  }
  .advantages__text:last-child {
    padding: 0 427px;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 940px;
  }
  .advantagers__list-container {
    background: none;
  }
}
.download {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 30px;
  background-color: #1d2631;
  text-align: center;
}
.download__link {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px 0;
  width: 275px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #1d2631;
  border: 3px solid #ffffff;
  border-radius: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.systems__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.download__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
.systems-list__link {
  display: inline-block;
  text-align: center;
  font-size: 0;
  width: 70px;
  height: 70px;
}
.systems-list__link--apple {
  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.systems-list__link--android {
  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.systems-list__link--windows {
  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.download__text {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .download {
    position: absolute;
    top: 747px;
    left: 138px;
    background: none;
  }
}
@media (min-width: 1200px) {
  .download {
    top: 581px;
    left: 180px;
  }
  .promo__title {
    margin-left: 106px;
  }
}
.slider-item:nth-child(2) {
  display: none;
}
.reviews {
  text-align: center;
}
.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #ffffff;
}
.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 45px;
}
.reviews__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.reviews__age {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}
.reviews-description {
  line-height: 30px;
  margin-bottom: 40px;
}
.reviews__prev {
  font-size: 0;
}
.reviews__next {
  font-size: 0;
}
.reviews__toggles {
  margin: 0;
  padding-bottom: 40px;
}
.reviews__item:nth-child(2) {
  display: none;
}
.reviews__item:nth-child(3) {
  display: none;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    width: 620px;
  }
  .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews-description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 960px;
    padding: 0 120px;
  }
}
.rates {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #f2f2f2;
  text-align: center;
}
.rates__table {
  text-align: center;
  width: 100%;
}
.rates__value {
  margin-top: 20px;
  width: 150px;
  margin-bottom: 13px;
  padding: 15px 0px;
  background-color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.rates__price {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.rates__field {
  line-height: 30px;
}
.rates__toggles {
  margin: 0;
  padding-bottom: 45px;
}
@media (min-width: 768px) {
  .rates {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .rates {
    width: 960px;
    padding: 0 120px;
  }
}
.contacts {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 45px;
  background-color: #ffffff;
  text-align: center;
}
.contacts__title {
  margin: 0;
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.contacts__text {
  margin-bottom: 10px;
  line-height: auto;
  font-weight: 700;
}
.contacts__data {
  margin-bottom: 30px;
  color: #d22856;
  font-size: 24px;
  line-height: auto;
  font-weight: 300;
}
.contacts__map {
  min-height: 200px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat 50% 96%;
}
@media (min-width: 768px) {
  .contacts {
    width: 620px;
  }
  .contacts__map {
    min-height: 370px;
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat 50% 69%;
  }
}
@media (min-width: 1200px) {
  .contacts {
    width: 960px;
    padding: 0 120px;
  }
  .contacts__map {
    min-height: 500px;
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat 50% 96%;
  }
}
.button {
  display: inline-block;
  vertical-align: top;
  padding: 17px 35px;
  border: none;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.filters__button {
  width: 320px;
  padding: 20px 0;
  color: #ffffff;
  line-height: 30px;
  font-weight: 700;
  background-color: #2aab6d;
  border-radius: 5px;
}
.filters__button:hover,
.filters__button:focus {
  background-color: #1c9b5e;
}
.filters__button:active {
  color: #68b48b;
}
.filters__button:disabled {
  color: #ffffff;
  background-color: #f2f2f2;
}
.modal-order__button {
  width: 320px;
  padding: 20px 0;
  color: #ffffff;
  line-height: 30px;
  font-weight: 700;
  background-color: #2aab6d;
  border-radius: 5px;
}
.modal-fail__button {
  width: 320px;
  padding: 20px 0;
  color: #ffffff;
  line-height: 30px;
  font-weight: 700;
  background-color: #2aab6d;
  border-radius: 5px;
}
.photo-editor__post {
  width: 275px;
  border-radius: 50px;
  border: 3px solid #d22856;
  color: #d22856;
  margin: 0 auto;
  margin-bottom: 10px;
}
.photo-editor__cancellation {
  width: 275px;
  border-radius: 50px;
  border: 3px solid #dddfe0;
  color: #dddfe0;
}
.filters {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}
.filters__text {
  margin: 0;
  color: #d22856;
  line-height: 18px;
}
.filters__label {
  display: block;
  margin-bottom: 15px;
  margin-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
.filters__input {
  padding: 20px 20px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.filters__user-data {
  padding-top: 40px;
  padding-bottom: 40px;
}
.filters__achievement {
  margin: 0;
  padding: 0;
  padding: 40px 0;
  border: none;
  margin: 0 -20px;
  background-color: #f2f2f2;
}
.filters__app {
  margin: 0 -20px;
  border: none;
  background-color: #f2f2f2;
}
.filters__list {
  margin: 0;
  paddimg: 0;
  margin-left: 20px;
}
.filters__legend {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
.filters__item {
  margin-bottom: 45px;
}
.filters__emotions {
  padding-top: 40px;
  padding-bottom: 40px;
}
.filters__textarea {
  padding: 20px 20px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
  width: 320px;
  min-height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.filters__footnote {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.filter__sup {
  color: #d22856;
}
@media (min-width: 768px) {
  .filters {
    width: 620px;
    padding: 0 20px;
  }
  .filters__label {
    display: inline-block;
    font-size: 14px;
  }
  .filters__input {
    width: 495px;
  }
  .filters__input--long {
    width: 530px;
  }
  .filters__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filters__app {
    border: 2px solid #f2f2f2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1200px) {
  .filters {
    margin: 0 auto;
    width: 940px;
    padding: 0 130px;
  }
}
.form-header {
  width: 360px;
  margin: 0 auto;
  background-color: #283645;
}
@media (min-width: 768px) {
  .form-header {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .form-header {
    width: 960px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.form-main {
  width: 360px;
  margin: 0 auto;
  background-color: #283645;
}
.form-main__title {
  margin: 0;
  padding: 0 68px;
  padding-top: 35px;
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  background-color: #f2f2f2;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 99% 28%;
  background-size: cover;
}
.form-main__wrapper {
  padding: 0 20px;
  padding-top: 55px;
  padding-bottom: 50px;
  background-color: #ffffff;
  text-align: center;
}
.form-main__text {
  margin: 0;
  line-height: 30px;
}
@media (min-width: 768px) {
  .form-main {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .form-main {
    width: 960px;
  }
  .form-main__text {
    width: 611px;
    margin: 0 auto;
  }
  .form-main__title {
    font-size: 50px;
    line-height: 70px;
    padding: 0 ;
  }
}
.main-nav__wrapper {
  text-align: center;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.modal-fail {
  display: none;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
  text-align: center;
}
.modal-fail__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.modal-fail__text {
  margin-bottom: 35px;
}
.modal-order {
  display: none;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #ffffff;
  text-align: center;
}
.modal-order__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
.modal-order__text {
  margin-bottom: 35px;
}
.modal-order__bottom {
  margin: 0 -20px;
  padding: 45px 0;
  background-color: #f2f2f2;
}
.modal__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
.modal-order__title {
  font-weight: 700;
  color: #000000;
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 41px;
  padding-bottom: 35px;
  background-color: #ffffff;
}
.page-footer__wrapper {
  text-align: center;
}
.page-footer--none {
  display: none;
}
.page-footer__copyright-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
}
.page-footer__logo {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-bottom: 28px;
}
.page-footer__logo:hover,
.page-footer__logo:focus path {
  fill: #d22856;
}
.page-footer__htmlacademy {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 35px;
}
.page-footer__copyright {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .page-footer {
    width: 620px;
  }
  --none {
    display: block;
  }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-footer__logo {
    margin: 0;
  }
  .page-footer__social {
    margin: 0;
  }
  .page-footer__copyright-container {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 960px;
    padding: 0 120px;
  }
  .page-footer__wrapper {
    padding-top: 90px;
    padding-bottom: 70px;
  }
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  width: 360px;
  margin: 0 auto;
  background-color: #283645;
}
.page-header__logo {
  margin-left: 40px;
}
.main-nav__toggle {
  margin-right: auto;
}
.page-header__logo-image {
  position: absolute;
  top: 177px;
  left: 0;
  display: block;
}
@media (min-width: 768px) {
  .page-header {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1200px;
  }
}
@media (min-width: 768px) {
  .page-main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.photo-header {
  width: 360px;
  margin: 0 auto;
  background-color: #283645;
}
@media (min-width: 768px) {
  .photo-header {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  .photo-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1200px;
  }
}
.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-list__link {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  padding: 25px 70px;
  text-transform: uppercase;
  cursor: pointer;
}
.site-list__item {
  border-top: 1px solid #485461;
}
@media (min-width: 768px) {
  .site-list {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 960px;
  }
  .site-list__link {
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }
  .site-list__item {
    border: none;
  }
}
.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.social__item {
  font-size: 0;
  margin-right: 5px;
}
.social-htmlacademy {
  font-size: 0;
}
.social__twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
}
.social__facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
}
.social__youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
}
.user-list__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
.user-list__author-name {
  font-weight: 700;
}
.user-list__author-time {
  margin-left: 5px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.user-list__text {
  margin-bottom: 20px;
}
.user-list__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}
.user-list__likes-counter {
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
}
.user-list__author-image {
  background-size: cover;
}
@media (min-width: 768px) {
  .user-list {
    width: 620px;
    padding: 0 20px;
  }
  .user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .user-list__item {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: 960px;
    padding: 0 120px;
  }
}
.user-photos {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #ffffff;
}
.user-photos__text {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.user-photos__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .user-photos {
    width: 620px;
    padding: 0 20px;
  }
  .user-list__first-item-container {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .user-photos {
    width: 960px;
    padding: 0 120px;
  }
}
.photo-editor {
  width: 360px;
  margin: 0 auto;
  background-color: #f2f2f2;
  text-align: center;
}
.photo-editor_buttons {
  padding: 40px 0;
}
.photo-editor__input:nth-child(2) {
  display: none;
}
.photo-editor__input:nth-child(3) {
  display: none;
}
@media (min-width: 768px) {
  .photo-editor {
    width: 660px;
  }
  .photo-editor__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .photo-editor__input:nth-child(2) {
    display: block;
  }
  .photo-editor__input:nth-child(3) {
    display: block;
  }
  .photo-editor__icons-sliders-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .photo-editor__icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .photo-editor__content-wrapper {
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .photo-editor {
    margin: 0 auto;
    width: 1200px;
  }
  .photo-editor__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.photo-main {
  width: 360px;
  margin: 0 auto;
  background-color: #283645;
}
.photo-main__title {
  margin: 0;
  padding: 0 20px;
  padding-top: 35px;
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  background-color: #f2f2f2;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 99% 28%;
  background-size: cover;
}
@media (min-width: 768px) {
  .photo-main {
    width: 660px;
  }
  .photo-main__title {
    font-size: 50px;
    line-height: 60px;
    padding-top: 80px;
    padding-bottom: 140px;
  }
}
@media (min-width: 1200px) {
  .photo-main {
    width: 1200px;
    min-height: 280px;
  }
  .photo-main__title {
    font-size: 50px;
    line-height: 60px;
    padding-top: 80px;
    padding-bottom: 140px;
  }
}
.effect {
  display: none;
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
  background-color: #ffffff;
}
.effect__container {
  width: 305px;
  padding: 100px 0;
  margin-left: auto;
}
.effect__title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
.effect__link {
  color: #d22856;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .effect {
    display: block;
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .effect {
    display: block;
    width: 960px;
    padding: 0 120px;
  }
}
